.gm-style {
  &-iw {
    display: flex;
    justify-content: center;
    width: 100%;
    color: $secondary-color;
    background-color: $font-color;
    text-shadow: 0 1px 0.5px $secondary-color;
    align-content: center;
    padding: 1%;
    border: 1px solid $border-color;
    box-shadow: 1px 2px 1px $border-color;
    cursor: pointer;

    img {
      border: 1px solid $border-color;
      box-shadow: 1px 2px 1px $border-color;
    }
  }
}
