.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
}

.gm-style .gm-style-iw {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: $font-color;
  background: $secondary-color; 
  align-content: center;
  margin: 7% 20% 0 0;
  padding: 1%;
  font-size: 1rem;
  border: 1px solid $border-color;
  box-shadow: 1px 2px 1px $border-color;
  cursor: pointer;
}

.sidebar {
  width: 25%;
  color: $font-color;
  background: $primary-color;

  #search {
    width: 80%;
    height: 1.9rem;
    font-size: 1.2rem;
    padding: 10px;
    margin: 5%;
    border-radius: 5px;
    background: $secondary-color;
    color: $font-color;
    border: 1px solid $border-color;
    box-shadow: 1px 2px 1px $border-color;
  }

  .volcanoes {
    width: 85%;

    .listing {
      display: flex;
      justify-content: space-between;
      background: $secondary-color; 
      align-content: center;
      margin: 7% 20% 0 0;
      padding: 1%;
      list-style: none;
      font-size: 1rem;
      border: 1px solid $border-color;
      box-shadow: 1px 2px 1px $border-color;
      cursor: pointer;

      img {
        align-self: center;
      }
    }
  }
}