/* Variables go first or else they won't render */
/* Variables */
.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap; }

header {
  font-size: 1.2rem;
  padding: 2% 2% 0; }

@media only screen and (max-width: 600px) {
  header {
    font-size: .8rem;
    padding: 5%; } }

/* This is for all the base or body styles */
body {
  background: #4d1104;
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.sidebar {
  width: 25%;
  color: #fcf9c2;
  background: #4d1104; }
  @media only screen and (max-width: 871px) {
    .sidebar {
      width: 40%; } }
  .sidebar #search {
    width: 80%;
    height: 1.9rem;
    font-size: 1.2rem;
    padding: 10px;
    margin: 5%;
    border-radius: 5px;
    background: #3c0b04;
    color: #fcf9c2;
    border: 1px solid #0c0404;
    box-shadow: 1px 2px 1px #0c0404; }
    @media only screen and (max-width: 871px) {
      .sidebar #search {
        width: 90%;
        height: 2rem; } }
  .sidebar .volcanoes {
    width: 100%;
    margin: 0 auto; }
    .sidebar .volcanoes .listing {
      display: flex;
      justify-content: space-between;
      background: #3c0b04;
      align-content: center;
      margin: 7% 30% 0 0;
      padding: 1%;
      list-style: none;
      font-size: 1.2rem;
      border: 1px solid #0c0404;
      box-shadow: 1px 2px 1px #0c0404;
      cursor: pointer; }
      @media only screen and (max-width: 582px) {
        .sidebar .volcanoes .listing {
          width: 150px;
          position: relative;
          right: 30px;
          top: 5px;
          font-size: 1rem; } }
      .sidebar .volcanoes .listing img {
        align-self: center; }
        @media only screen and (max-width: 400px) {
          .sidebar .volcanoes .listing img {
            visibility: hidden; } }

.gm-style-iw {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #3c0b04;
  background-color: #fcf9c2;
  text-shadow: 0 1px 0.5px #3c0b04;
  align-content: center;
  padding: 1%;
  border: 1px solid #0c0404;
  box-shadow: 1px 2px 1px #0c0404;
  cursor: pointer; }
  .gm-style-iw img {
    border: 1px solid #0c0404;
    box-shadow: 1px 2px 1px #0c0404; }
