/* Variables go first or else they won't render */
/* Variables */
.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap; }

.gm-style .gm-style-iw {
  display: flex;
<<<<<<< HEAD
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; }

.App-link {
  color: #e96d3c; }

/* This is for all the base or body styles */
body {
  background: #4d1104;
  margin: 0;
  padding: 0;
  font-family: sans-serif; }
||||||| merged common ancestors
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; }

.App-link {
  color: #e96d3c; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/* This is for all the base or body styles */
body {
  background: #4d1104;
  margin: 0;
  padding: 0;
  font-family: sans-serif; }
=======
  justify-content: space-between;
  width: 100%;
  color: #fcf9c2;
  background: #3c0b04;
  align-content: center;
  margin: 7% 20% 0 0;
  padding: 1%;
  font-size: 1rem;
  border: 1px solid #0c0404;
  box-shadow: 1px 2px 1px #0c0404;
  cursor: pointer; }
>>>>>>> 976ccd7df6ac4ad2247260a0450a89c4bdd5bcef

.sidebar {
  width: 25%;
  color: #fcf9c2;
  background: #4d1104; }
  .sidebar #search {
    width: 80%;
    height: 1.9rem;
    font-size: 1.2rem;
    padding: 10px;
    margin: 5%;
    border-radius: 5px;
    background: #3c0b04;
    color: #fcf9c2;
    border: 1px solid #0c0404;
    box-shadow: 1px 2px 1px #0c0404; }
  .sidebar .volcanoes {
    width: 85%; }
    .sidebar .volcanoes .listing {
      display: flex;
      justify-content: space-between;
      background: #3c0b04;
      align-content: center;
      margin: 7% 20% 0 0;
      padding: 1%;
      list-style: none;
      font-size: 1rem;
      border: 1px solid #0c0404;
      box-shadow: 1px 2px 1px #0c0404;
      cursor: pointer; }
      .sidebar .volcanoes .listing img {
        align-self: center; }
<<<<<<< HEAD

.gm-style-iw {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #fcf9c2;
  background-color: #3c0b04;
  align-content: center;
  padding: 1%;
  font-weight: 600;
  border: 1px solid #0c0404;
  box-shadow: 1px 2px 1px #0c0404;
  cursor: pointer; }
||||||| merged common ancestors
=======

/* This is for all the base or body styles */
body {
  background: #4d1104;
  margin: 0;
  padding: 0;
  font-family: sans-serif; }
>>>>>>> 976ccd7df6ac4ad2247260a0450a89c4bdd5bcef
